language: python
python:
    - 2.6
    - 2.7
    - 3.2
    - 3.3

install:
    - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]]; then pip install --use-mirrors unittest2; fi
    - if [[ $TRAVIS_PYTHON_VERSION == 2* ]]; then pip install --use-mirrors zc.buildout<2.0.0; fi
    - if [[ $TRAVIS_PYTHON_VERSION == 3* ]]; then pip install --use-mirrors zc.buildout>=2.0.0 zope.testing manuel; fi
    - python setup.py install

script: python setup.py test
