language: python
python:
  - 2.6
  - 2.7
  - 3.2
#  - pypy
install:
  - deactivate
  - python$TRAVIS_PYTHON_VERSION bootstrap.py -d
  - bin/buildout
script:
  - ./bin/test -s hexagonit.recipe.download
